<a href="https://colab.research.google.com/github/Maione-Anika-Reyes/58013-Linear-Algebra/blob/main/Review_of_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#python indentation

if 5>2:
  print("Five is greater than two!")

Five is greater than two!

In [5]:
#This is a comment

print("Hello, world")

Hello, world

In [8]:
#Python variable

x = 1
a,b = 0,-1
a,b,c = 0,-1,2
print(b)

-1

In [10]:
#casting (will print the no. not the data type)

b = "sally"
b = int(4)
print(b)

b = float(4)
print(b)

4
4.0

In [11]:
#Type() function (data type)

x = 5
y = "john"
print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [13]:
#Double quote or single quote

y = "john"
y = 'john'
print(y)

john

In [14]:
#case sensitive

a = 4
A = "sally"
print(a)

4

In [15]:
#multiple variables

x,y,z="one","two","three"
print(x)
print(y)
print(z)

one
two
three

In [16]:
#one value to multiple variables

x=y=z = "four"
print(x)
print(y)
print(z)

four
four
four

In [18]:
#output variables

x='enjoying'
print("Python programming is",x)

Python programming is enjoying

In [20]:
#other way

x = "Python is "
y = "enjoying"
z = x+y
print(z)

Python is enjoying

In [21]:
#arithmetic operators

x = 5
y = 3
print(x+y)

x=5
y=3
sum=x+y
sum

8

8

In [22]:
#assignment operators

a,b,c=0,-1,6
c%=3
c

0

In [23]:
#comparison and logical operators

a,b,c = 0,-1,6
a>b and c>b

True

In [24]:
 #identity operators

 a,b,c=0,-1,5
 a is c

False

In [27]:
#bitwise operators

a,b,c=0,-1,5
c>>1

2